<div class="container">

<% if session[:user_id] %>
  <% @this_user = User.find(session[:user_id]) %>

<h1>Hello, <%=@this_user.name %></h1>

<img class="user-photo" src="<%=@this_user.image_url %>" alt="User Photo" height="120" width="100">

<table class="user-edit-table" style="width:600px">
  <tr>
    <td><b>Name:</b></td>
    <td><b>Email:</b></td>
  </tr>
  <tr>
    <td id="user-name-edit"><%= @this_user.name %></td>
    <td id="user-email-edit"> <%= @this_user.email %></td>
  </tr>
</table>

<a href='/surveys'>Browse Surveys</a>
<a href='/surveys/new'>Create a new Survey</a>


<h3>Surveys You Created:</h3>
<table style="width:600px">
      <tr>
        <td>Survey Image</td>
        <td>Survey Title</td>
        <td>Stats</td>
      </tr>
      <% @this_user.created_surveys.each do |created_survey| %>
      <tr id="survey_no<%= created_survey.id %>">
        <td><img src="<%=created_survey.image_url %>" alt="Survey Image" height="25" width="25"></td>
        <td><a href="/surveys/<%=created_survey.id %>"><%=created_survey.title %></a></td>
        <td><a href='/surveys/<%=created_survey.id %>/stats'>View stats</a></td>
        <td><a href="/surveys/delete/<%= created_survey.id %>" id="deletion_no<%= created_survey.id %>">Delete this survey</a></td>
      </tr>
      <% end %>
</table>

<h3>Surveys You've Taken:</h3>
<table style="width:600px">
      <tr>
        <td>Survey Image</td>
        <td>Survey Title</td>
        <td>Stats</td>
      </tr>
      <% @this_user.taken_surveys.each do |taken_survey| %>
      <tr>
        <td><img src="<%=taken_survey.image_url %>" alt="Survey Image" height="25" width="25"></td>
        <td><a href="/surveys/<%=taken_survey.id %>"><%=created_survey.title %></a></td>
        <td><a href='/surveys/<%=taken_survey.id %>/stats'>View stats</a></td>
      </tr>
      <% end %>
</table>

<a href='/logout'>Logout</a>


    <% else %>
    <p> Not recognizing users.</p>
    <% end %>

</div>
