<%= Survey.where(id: @survey_id).first.title %>
<br>
<br>
<form method="post" action="/responses">
  <% @question.each_with_index do |question, question_no| %>
    <%= question.text %>
    <br>
    <% if @choices[question_no].count > 0 %>
      <% @choices[question_no].each do |choice| %>
        <input type="radio" name="answer[<%= question_no %>]" value="<%=  choice.id %>"> <%= choice.option %>
        <br>
      <% end %>
    <% else %>
      <textarea rows="4" cols="50" name="text_answer[<%= question_no %>]"></textarea>
      <br>
    <% end %>
    <input type="hidden" name="survey_id" value="<%= @survey_id %>">

  <% end %>
  <input type="submit">
</form>





