<%= Survey.where(id: @survey_id).first.title %>
<br>
<br>
<% @question.each_with_index do |question, question_no| %>
<form method="post" action="/responses">
  <%= question.text %>
  <br>
    <% @choices[question_no].each do |choice| %>
      <input type="radio" name="answer[<%= question_no %>]" value="<%= choice.id %>"> <%= choice.option %>
      <br>
    <% end %>
    <input type="hidden" name="survey_id" value="<%= @survey_id %>">

  <% end %>
  <input type="submit">
</form>






